@use "mixins";
button {
  background-color: var(--button-color-primary);
  border: none;
  border-radius: var(--spacing1);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-small);
  transition: all 0.3s ease;
  color: var(--font-color-primary);
  cursor: pointer;
  &:hover {
    background-color: var(--button-color-hover);
    text-decoration: underline;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.active {
    background-color: var(--button-color-accent);
    color: var(--font-color-primary);
    font-weight: var(--font-weight-bold);
  }
}

.reg-btn {
  width: 100%;
  display: block;
  padding: var(--spacing1);
  font-size: var(--font-size-medium);
  @include mixins.laptop {
    padding: var(--spacing1);
  }
}

.icon-btn {
  padding: var(--spacing1);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.laptop {
    padding: var(--spacing05);
  }
  .icon {
    font-size: var(--font-size-xlarge);
    @include mixins.laptop {
      font-size: var(--font-size-large);
    }
  }
}

.date-btn {
  width: 100%;
  display: block;
  padding: var(--spacing1);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  word-break: keep-all;
}
